<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/chat.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon" />
        <title>Chat</title>
        <!-- Profile image needs to get id from rendering engine -->
        <style>
            .profile-image {
                height: 30px;
                width: 30px !important;
                border-radius: 15px;
                background-image: url("/api/profile-image/<%= data.id %>");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <div class="messages">
                <div class="messages-header">
                    <h1 id="chat-name">Open a chat to comunicate</h1>
                    <button id="back2menu">
                        <svg
                            xmlns:svg="http://www.w3.org/2000/svg"
                            xmlns="http://www.w3.org/2000/svg"
                            width="60"
                            height="40"
                            viewBox="0 0 15.875001 10.583334"
                            version="1.1"
                            id="arrow-back"
                        >
                            <path
                                style="
                                    stroke-width: 1.5875;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-miterlimit: 4;
                                    stroke-dasharray: none;
                                    stroke-opacity: 1;
                                    fill: none;
                                "
                                d="m 10.318751,9.7895841 4.7625,-4.4979172 m -14.28750095,0 H 15.081251 L 10.318751,0.79375"
                                id="path20"
                            />
                        </svg>
                    </button>
                </div>
                <div class="message-container"></div>
                <div class="message-input">
                    <button id="send" disabled="disabled">Send</button
                    ><textarea
                        id="input-message"
                        disabled="disabled"
                    ></textarea>
                </div>
            </div>
            <div class="navigation">
                <div class="header">
                    <div class="profile-image"></div>
                    <h1 id="profile-name"><%= data.fullname %></h1>
                    <button id="logout">Logout</button>
                </div>
                <div class="contacts">
                    <div class="add-contact-activate">
                        <button class="add-contact-button">
                            <span class="add-contact-1"></span
                            ><span class="add-contact-2"></span>
                        </button>
                        <h2>Add contact</h2>
                    </div>
                    <div class="contact-list"></div>
                </div>
            </div>

            <div class="hide-background"></div>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/javascripts/chat.js"></script>
        </div>
        <div class="dialogs">
            <div class="edit-profile dialog">
                <h2>Edit Profile</h2>
                <table id="edit-profile-table">
                    <tr>
                        <th>
                            <label for="profile-upload">
                                <div class="profile-image"></div>
                            </label>
                        </th>
                        <th><input type="file" id="profile-upload" /></th>
                    </tr>
                    <tr>
                        <th><label for="name-edit">Full Name:</label></th>
                        <th>
                            <input
                                type="text"
                                id="name-edit"
                                value="<%= data.fullname %>"
                            />
                        </th>
                    </tr>
                    <tr>
                        <th><label for="email-edit">E-mail:</label></th>
                        <th>
                            <input
                                type="text"
                                id="email-edit"
                                value="<%= data.email %>"
                            />
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <button type="submit" id="save-profile">
                                Save
                            </button>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="add-contact dialog">
                <input
                    type="text"
                    id="add-contact-input"
                    placeholder="Enter the exact uername"
                    autofocus
                /><button id="add-contact-enter">Request</button>
            </div>
        </div>
    </body>
</html>
