html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/chat.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        title Chat
    body
        div(class="messages")
            div(class="messages-header")
                h1(id="chat-name") Open a chat to comunicate
            div(class="message-container")
            div(class="message-input")
                button(id="send") Send
                textarea(id="input-message")
        div(class="navigation")
            div(class="header")
                h1 #{fullname}
                a(href="/api/logout")
                    button(id="logout") Logout
            div(class="contacts")
                div(class="add-contact-activate")
                    button(class="add-contact-button")
                        span(class="add-contact-1")
                        span(class="add-contact-2")
                    h2 Add contact
                div(class="add-contact")
                    input(type="text", id="add-contact-input", placeholder="Enter the exact uername")
                    button(id="add-contact-enter") Request
                div(class="contact-list")
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/chat.js")