<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon" />
        <link rel="stylesheet" href="/stylesheets/home.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <title>Open Chat</title>
    </head>
    <body>
        <nav>
            <div class="header">
                <div class="logo"></div>
                <h1>Open chat</h1>
            </div>
            <div class="next">
                <a href=""><button>About</button></a>
                <a href="/login"><button>Login</button></a>
            </div>
        </nav>
        <div class="content">
            <div class="welcome">
                <h2 class="text">Open chat</h2>
            </div>
            <div class="info">
                <div class="right">
                    <div>
                        <h3>Self-hosted</h3>
                        <img src="/images/welcome.png" class="image" />
                    </div>
                    <p>
                        You can download the OpenChat Server from Github® and
                        host in on your own public/private server.
                    </p>
                </div>
                <div>
                    <div>
                        <h3>Security</h3>
                        <img src="/images/secure.svg" class="image" />
                    </div>
                    <p>
                        Since you are hosting your own chat server you will have
                        full control of your users, messages, media, etc.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
