#content {
    display: flex;
    height: 100vh;
    max-width: 100%;
}

#profile-name {
    cursor: pointer;
    user-select: none;
}

button {
    border: 1px solid var(--main-color);
    border-radius: 2px;
    padding: 5px;
}

button:hover {
    background-color: var(--main-color);
    color: var(--background);
}

button:active {
    animation: click 0.2s linear;
}

input,
textarea,
#input-message {
    border: 1px solid var(--main-color);
    border-radius: 2px;
    padding: 5px;
    resize: none;
}

h1 {
    margin: 10px;
}

.messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--background-lite);
}

.header {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--main-color);
}

.message-container {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.messages-header {
    flex: 0 1 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0px 5px 30px var(--shadow-color);
}

.chat {
    height: 100%;
    padding: 5px;
    flex: 1 0;
    display: flex;
    min-height: min-content;
    overflow-y: auto;
    flex-direction: column;
    box-sizing: border-box;
}

.chat > :first-child {
    margin-top: auto;
}

.message-input {
    flex: 0 1 3em;
    display: flex;
    padding: 5px;
    box-shadow: 3px 0px 5px var(--shadow-color) inset,
        0px 0px 10px var(--shadow-color) inset;
}

.message-line {
    width: 100%;
    flex: 0 0 1.5em;
    display: flex;
    margin-top: 5px;
}

.message-line.me {
    justify-content: flex-end;
}

.message-line.other {
    justify-content: flex-start;
}

.message-line.me .message {
    border-right: 5px solid var(--main-color);
    padding-right: 5px;
}

.message-line.other .message {
    border-left: 5px solid var(--main-color);
    padding-left: 5px;
}

.message {
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-all;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: var(--forderground-color);
    animation: fadeIn 0.2s linear;
    animation-fill-mode: forwards;
    box-shadow: 5px 3px 7px var(--shadow-color);
}

#send {
    flex: 0 1 20%;
}

#input-message {
    flex: 1 1 auto;
    margin-left: 5px;
    overflow-y: auto;
}

/* The add contact button */

.add-contact-activate {
    flex: 0 1 70px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.add-contact-activate h2 {
    margin-left: 10px;
}

.add-contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--forderground-color);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
}

.add-contact-button span {
    display: block;
    position: absolute;
    height: 5px;
    width: 35px;
    border-radius: 5px;
    background-color: var(--main-color);
}

.add-contact-button:hover span {
    background-color: var(--forderground-color);
}

.add-contact-1 {
    transform: rotate(90deg);
}

.add-contact {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 10%;
    right: 20%;
    left: 20%;
}

.hide-background {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.5);
}

.hide-background.visible {
    display: block;
    visibility: visible;
}

.add-contact-content {
    position: relative;
    padding: 20px;
    background-color: var(--background);
    z-index: 2;
    display: flex;
    border: 1px solid var(--main-color);
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.add-contact.visible {
    visibility: visible;
}

.add-contact.visible .add-contact-content {
    transform: translateY(0px);
    opacity: 1;
}

#add-contact-input {
    flex: 1 0;
}

.contact-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    cursor: pointer;
    flex: 0 1 50px;
    padding: 5px;
    transition: all 0.2s ease-in-out, transform 0.1s linear;
}

.contact:active {
    transform: scale(0.9);
}

.contact-profile {
    flex: 0 1 auto;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    box-shadow: 0 0 5px var(--shadow-color) inset;
    overflow: hidden;
}

.contact-info {
    user-select: none;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accept-reject {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
}

.accept-reject > :last-child {
    margin-top: 2px;
}

.accept-reject > button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    border: none;
    transition: color 0.2s linear;
}

.accept-reject .accept:hover {
    background-color: green;
    color: red;
}

.accept-reject .reject:hover {
    background-color: red;
    color: green;
}

.contact:hover {
    background-color: var(--forderground-color);
}

.open-chat {
    height: 100%;
    width: 100%;
}

.closed-chat {
    display: none;
    visibility: hidden;
}

/* Edit profile */

.edit-profile {
    position: absolute;
    display: none;
    visibility: hidden;
    top: 10%;
    bottom: 10%;
    right: 30%;
    left: 30%;
    background-color: var(--background);
    box-shadow: 10px 10px 20px var(--shadow-color);
    padding: 15px;
    z-index: 2;
}

.edit-profile.visible {
    display: block;
    visibility: visible;
}

#edit-profile-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#edit-profile-table th {
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

#edit-profile-table th * {
    width: 100%;
}

/* Notifications */

.notification-parrent {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 30%;
    padding: 5px;
    min-height: 0;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.notification {
    max-height: 150px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s linear;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.notification.closing {
    animation: close 0.2s linear;
}

.notification.success {
    background-color: #12d600;
}

.notification.error {
    background-color: #ff0000;
}

.notification-head {
    display: flex;
    flex: 0 1;
    justify-content: space-between;
    width: 100%;
}

.notification-head span {
    cursor: pointer;
    user-select: none;
}

.notification-message {
    flex: 1 0;
    word-wrap: break-word;
    word-break: break-all;
    color: black;
}

/* Animation keyframes */

@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes click {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

@keyframes close {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(40%);
        opacity: 0.2;
    }
}

/* Design for desktop */
@media only screen and (min-width: 720px) {
    #content {
        display: flex;
    }
    .navigation {
        border-left: 1px solid var(--main-color);
        flex: 0 0 30%;
    }

    #back2menu {
        display: none;
        visibility: hidden;
    }
}

/* Desing for mobile */
@media only screen and (max-width: 720px) {
    .navigation,
    .messages {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }

    .messages {
        height: 100vh;
        width: 100vw;
        transform: translateX(-100vw);
        z-index: 1;
        opacity: 0;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        background-color: var(--background);
    }

    .messages.show {
        transform: translateX(0vw);
        opacity: 1;
    }

    #back2menu {
        /* background-image: url("/images/arrow-back.svg"); */
        margin: auto;
    }
}
