html,
body {
    height: 100%;
    background-color: var(--background);
}

body {
    display: flex;
}

button {
    border: 1px solid var(--main-color);
    border-radius: 0px;
    padding: 5px;
    transition: all 0.1s;
    box-shadow: 2px 2px 4px var(--shadow-color);
}

button:hover {
    background-color: var(--main-color);
    color: var(--background);
}

button:active {
    transform: scale(0.9);
}

input,
textarea {
    border: 1px solid var(--main-color);
    border-radius: 0px;
    padding: 5px;
    resize: none;
}

h1 {
    margin: 10px;
}

.messages {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.navigation {
    border-left: 1px solid var(--main-color);
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--main-color);
}

.message-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.messages-header {
    flex: 0 1 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.messages-parent {
    flex: 1 1 auto;
}

.message-input {
    flex: 0 1 3em;
    display: flex;
}

#send {
    flex: 0 1 20%;
}

#input-message {
    flex: 1 0 auto;
}

/* The add contact button */

.add-contact {
    flex: 0 1 70px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.add-contact h2 {
    margin-left: 10px;
}

.add-contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--forderground-color);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
}

.add-contact-button span {
    display: block;
    position: absolute;
    height: 5px;
    width: 35px;
    border-radius: 5px;
    background-color: var(--main-color);
}

.add-contact-button:hover span {
    background-color: var(--forderground-color);
}

.add-contact-1 {
    transform: rotate(90deg);
}

.contact-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.contact {
    flex: 0 1 4em;
    text-align: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.contact:hover {
    background-color: var(--forderground-color);
}
