html, body {
    height: 100%;
    background-color: var(--background-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
}

input.login-input {
    background-color: transparent;
    border: solid 1px var(--main-color);
    text-align: center;
}

.login-input.invalid {
    border: solid 1px red;
}

input.login-input::placeholder {
    color: var(--main-color);
}

.login-item {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
}

.submit {
    color: white;
    background-color: red;
    transition: all .2s;
    font-weight: bolder;
}

.submit:hover {
    color: red;
    background-color: var(--main-color);
}

.login {
    flex: 0 1 20em;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 100px var(--shadow-color), 0px 20px 50px var(--shadow-color);
    border-radius: 10px;
}