@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --shadow-color: green;
        --main-color: green;
        --forderground-color: rgba(0, 128, 0, 0.3);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --shadow-color: darkkhaki;
        --main-color: blue;
        --forderground-color: lightblue;
    }
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--main-color);
    background-color: transparent;
}

*:focus {
    outline: none;
}